# Module: tf.keras.constraints

Constraints: functions that impose constraints on weight values.

## Classes

`class Constraint`

`class MaxNorm`: MaxNorm weight constraint.

`class MinMaxNorm`: MinMaxNorm weight constraint.

`class NonNeg`: Constrains the weights to be non-negative.

`class RadialConstraint`: Constrains `Conv2D` kernel weights to be the same
for each radius.

`class UnitNorm`: Constrains the weights incident to each hidden unit to have
unit norm.

`class max_norm`: MaxNorm weight constraint.

`class min_max_norm`: MinMaxNorm weight constraint.

`class non_neg`: Constrains the weights to be non-negative.

`class radial_constraint`: Constrains `Conv2D` kernel weights to be the same
for each radius.

`class unit_norm`: Constrains the weights incident to each hidden unit to have
unit norm.

## Functions

`deserialize(...)`

`get(...)`

`serialize(...)`

© 2020 The TensorFlow Authors. All rights reserved.  
Licensed under the Creative Commons Attribution License 3.0.  
Code samples licensed under the Apache 2.0 License.  
https://www.tensorflow.org/versions/r2.4/api_docs/python/tf/keras/constraints

  *[ISP]: Internet Service Provider
  *[LIFO]: last-in, first-out
  *[FIFO]: first-in, first-out

